body{
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;   
}
header{
    background-color: rgb(12, 228, 224);
    padding: 20px 0;
    color: white;
}
a{
    color: black;
}
#links{
    background-color: rgb(12, 228, 224);
    padding: 15px;
    text-align: center;
}
#links a{
    color: white;
    font-weight: bold;
    font-weight: small-caps;
    font-size: 120%;    
    margin: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.szöveg{
    text-align: center;
    font-size: small-caps;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
    
}
.obs{
    text-align: center;
    font-size: small-caps;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.videos{
    text-align: center;
    font-size: small-caps;
    padding: 15px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 20px;
}
.gomb, .gomb2, .gomb3, .gomb4{
    background-color: #2941dc;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.setup{
    text-align: center;
    font-size: small-caps;
    padding: 15px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: black
}
table, th, td {
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}
td{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 20px 10px;
}
td:first-child{
    text-align: center;
}
tbody tr:hover{
    background-color: #ffeb3b;
}
h2{
    text-align: center;
    margin-top: 10px;
}
.szín td{
     text-align: center;
}
.szín td:first-child{
    background-color: rgb(100, 100, 210);
    color: white;
}
.szín td:last-child{
    background-color: rgb(100, 100, 210);
    color: rgb(255, 255, 255);
}
.szín td:nth-child(2){
    background-color: rgb(100, 100, 210);
    color: black;
}
#links a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    padding: 10px;
}
